<div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">

      <button class="btn btn-outline-success" (click)="navigate('')" routerLinkActive="router-link-active"  type="button"> Category</button>
      <button class="btn btn-outline-success" (click)="navigate('list')" routerLinkActive="router-link-active"  type="button"> List Category</button>
      <button class="btn btn-outline-success" routerLink="/products" routerLinkActive="router-link-active"  type="button"> Products</button>


    </form>
  </nav>
</div>
