.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://img.freepik.com/premium-vector/abstract-modern-ecommerce-logo-design-colorful-gradient-shopping-bag-logo-template_467913-995.jpg');
  background-size: cover;
}
